<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Argentina</string>
		<key>Initial</key>
		<string>Ar</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Aruba</string>
		<key>Initial</key>
		<string>Aw</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bahamas</string>
		<key>Initial</key>
		<string>Bs</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Barbados</string>
		<key>Initial</key>
		<string>Bb</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Belize</string>
		<key>Initial</key>
		<string>Bz</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bermuda</string>
		<key>Initial</key>
		<string>Bm</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bolivia</string>
		<key>Initial</key>
		<string>Bo</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brazil</string>
		<key>Initial</key>
		<string>Br</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Canada</string>
		<key>Initial</key>
		<string>Ca</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cayman Islands</string>
		<key>Initial</key>
		<string>Ky</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chile</string>
		<key>Initial</key>
		<string>Cl</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Colombia</string>
		<key>Initial</key>
		<string>Co</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Costa Rica</string>
		<key>Initial</key>
		<string>Cr</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cuba</string>
		<key>Initial</key>
		<string>Cu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dominican Rep.</string>
		<key>Initial</key>
		<string>Do</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>East Carribean States</string>
		<key>Initial</key>
		<string>Ea</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ecuador</string>
		<key>Initial</key>
		<string>Ec</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>El Salvador</string>
		<key>Initial</key>
		<string>Sv</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guatemala</string>
		<key>Initial</key>
		<string>Gt</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guyana</string>
		<key>Initial</key>
		<string>Gy</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Haiti (Rep. of)</string>
		<key>Initial</key>
		<string>Ht</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Honduras</string>
		<key>Initial</key>
		<string>Hn</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jamaica</string>
		<key>Initial</key>
		<string>Jm</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mexico</string>
		<key>Initial</key>
		<string>Mx</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Netherlands Antilles</string>
		<key>Initial</key>
		<string>An</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nicaragua</string>
		<key>Initial</key>
		<string>Ni</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Paraguay</string>
		<key>Initial</key>
		<string>Py</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Peru</string>
		<key>Initial</key>
		<string>Pe</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Suriname</string>
		<key>Initial</key>
		<string>Sr</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Trinidad and Tobago</string>
		<key>Initial</key>
		<string>Tt</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uruguay</string>
		<key>Initial</key>
		<string>Uy</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>USA</string>
		<key>Initial</key>
		<string>Us</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Venezuela</string>
		<key>Initial</key>
		<string>Ve</string>
	</dict>
</array>
</plist>
